.centerText {
  text-align: center;
}

.container {
  margin-top: 5%;
  padding: 8px;
}

.notpicked {
   font-size: 1.5em;
   color: #adadad;
   cursor: pointer
}

.notpicked:hover {
  font-size: 1.5em;
  color: #83afe7;
  cursor: pointer
}

.picked {
  font-size: 2.5em;
  color: #00aeff;
  cursor: pointer
}

.picked:hover {
  font-size: 2.5em;
  color: #83bae7;
  cursor: pointer
}

.largetext {
  font-size: 5em;
}

.mediumtext {
  font-size: 2.5em;
}

.normaltext {
  font-size: 2em;
}

.mapBox {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* .map {
  width: 50%;
} */